{% extends "base.html" %}
{% load static %}
{% block metadescription %}
{{ bike.description|truncatewords:155 }}
{% endblock %}
{% block title %}
{{ bike.name }} - Monty_Cycles Store
{% endblock %}
{% block content %}
<div>
    <div class = "mx-auto">
        <p><a href="{% url 'store:all_bikes' %}">Home</a> | <a href="{{bike.brand.get_url }}">{{bike.brand}}</a> |
            {{bike.name}}</p>
    </div>
    <div class = "container">
        <br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <div style="min-width: 18rem;">
                    <img src="{{bike.image.url}}" alt="{{bike.name}}">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div>
                    <h1>{{bike.name}}</h1>
                    <p>€{{bike.price}}</p>
                    <p>Bike Description</p>
                    <p class="text-justify">{{bike.description}}</p>
                    {% if bike.stock == 0%}
                        <p class="text-justify"><b>Out of Stock</b></p>
                    {% else %}
                        <a class="btn btn-secondary" href="{% url 'cart:add_cart' bike.id %}">Add to Basket</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}