{% extends "base.html" %}
{% load static %}

{% block metadescription %}
{{ bike.description|truncatewords:155 }}
{% endblock %}

{% block title %}
{{ bike.name }} Monty_Cycles Store
{% endblock %}

{% block content %}
<div class="row my_row">
    <div class="mx-auto">
        <p><a href="{% url 'store:all_bikes' %}">Our Brands</a> | <a href="{{bike.brand.get_url }}">{{bike.brand}}</a> |
            {{bike.name}}</p>
    </div>
    <div class="container">
        <br>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for bike in all_sales %}
            <div class="col">
                <div class="card h-100">
                    <a href="#">
                        <img class="card-img-top" src="{{ bike.image.url }}" alt="{{ bike.name }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{bike.name}}</h5>
                        <p class="card-text">
                            <s class="text-danger">€{{bike.original_price}}</s>
                            <strong>€{{bike.sale_price}}</strong>
                        </p>
                        <p class="card-text">{{bike.description}}</p>
                        {% if bike.stock == 0 %}
                        <p class="card-text"><b>Out of Stock</b></p>
                        {% else %}
                        <a href="{% url 'basket:add_basket' bike.id %}" class="btn btn-info">Add to Basket</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}