<div class="container-fluid">
    <div class="my_custom_menu">
        <ul class="list-unstyled d-flex">
            {% if user.is_authenticated %}
            <li class="me-3">
                <button class="btn btn-light" type="button" data-bs-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false">
                    Welcome, {{ user.username }} <i class="fas fa-user-circle"></i>
                </button>
            </li>
            <li>
                <a href="{% url 'logout' %}" class="btn btn-outline-light">
                    Sign Out <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}" class="btn btn-outline-light">
                    Sign Up <i class="fas fa-user-plus"></i>
                </a>
            </li>
            <li class="ms-2">
                <a href="{% url 'login' %}" class="btn btn-outline-light">
                    Login <i class="fas fa-sign-in-alt"></i>
                </a>
            </li>
            {% endif %}
            
            <li class="ms-auto">
                <a href="{% url 'basket:basket_detail'  %}" class="btn btn-outline-light">
                    Basket <i class="fas fa-shopping-basket"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
